[submodule "plumbing"]
	path = plumbing
	url = //JEFF/Git2/Plumbing.git
[submodule "gyro1/Plumbing"]
	path = gyro1/Plumbing
	url = //JEFF/Git2/Plumbing.git
[submodule "winViz/Plumbing"]
	path = winViz/Plumbing
	url = //JEFF/Git2/Plumbing.git
[submodule "XInputDotNet"]
	path = XInputDotNet
	url = https://github.com/speps/XInputDotNet.git
